<template>
  <div class="home">
    <ConfiguratorModal />
  </div>
</template>

<script>
import ConfiguratorModal from "@/components/ConfiguratorModal.vue";

export default {
  name: "home",
  components: {
    ConfiguratorModal
  }
};
</script>
