<template>
  <div class="row">
    <div class="col-5">
      <div class="configurator-preview">
        <img
          src="https://dev-rgol.e24files.com/media/res/products/76629/1200x1562/komplet-nike-fc-barcelona-little-kids-2017-18-wyjazdowy-847354-484_1.png"
          alt
          class="img-fluid configurator-preview__img"
        />
        <div
          class="configurator-preview__number"
          :style="{
            color: (number.color && number.color.hex) || '#000'
          }"
        >
          {{ number.value }}
        </div>
        <div
          class="configurator-preview__name"
          :style="{ color: (name.color && name.color.hex) || '#000' }"
        >
          <svg viewBox="0 0 100 20">
            <text
              x="0"
              y="16"
              width="100%"
              :textLength="`${name.value.length}ch`"
              lengthAdjust="spacingAndGlyphs"
            >
              {{ name.value }}
            </text>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-12">
          <strong>Kolor numeru</strong>
          <ul class="list-unstyled colors-list">
            <li class="colors-list__item" v-for="color in colors" :key="color.id">
              <div
                :style="{ backgroundColor: color.hex }"
                @click="setChosenColor({ element: 'number', id: color.id })"
              ></div>
            </li>
          </ul>
          <strong>Numer</strong>
          <div>
            <input type="number" :max="99" :min="0" v-model="number.value" />
          </div>

          <strong>Kolor nazwiska</strong>
          <ul class="list-unstyled colors-list">
            <li class="colors-list__item" v-for="color in colors" :key="color.id">
              <div
                :style="{ backgroundColor: color.hex }"
                @click="setChosenColor({ element: 'name', id: color.id })"
              ></div>
            </li>
          </ul>
          <strong>Nazwisko</strong>
          <div>
            <input type="text" v-model="name.value" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BackConfigurator",
  data() {
    return {
      mode: "front",
      number: {
        color: (this.colors && this.colors[0]) || null,
        value: 10
      },
      name: {
        color: null,
        value: "Kowalski"
      },
      colors: [
        {
          id: 1,
          color: "black",
          hex: "#000000"
        },
        {
          id: 2,
          color: "green",
          hex: "#00ff00"
        },
        {
          id: 3,
          color: "red",
          hex: "#ff0000"
        }
      ]
    };
  },
  methods: {
    setChosenColor({ element, id }) {
      const chosenColor = this.colors.find(color => color.id === id);
      console.log(chosenColor);
      this[element].color = chosenColor;
    }
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");

.configurator-preview {
  position: relative;
  &__name {
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    width: 15ch;
    text {
      font-family: "Bowlby One SC", cursive;
    }
  }
  &__number {
    position: absolute;
    bottom: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 11vw;
    font-weight: 700;
  }
}

.colors-list {
  display: flex;

  &__item {
    margin: 5px;
    div {
      height: 15px;
      width: 15px;
    }
  }
}
</style>
