<template>
  <div>
    <button @click="toggleShow" class="btn btn-primary">Konfiguruj produkt</button>
    <b-modal id="configurator-modal" v-model="show" size="xl" title="Config modal">
      <div class="p-4">
        <div class="text-center ooo">
          <span
            class="d-inline-block p-1 m-3"
            :class="{ active: mode === 'front' }"
            @click="mode = 'front'"
            >Przód</span
          >
          <span
            class="d-inline-block p-1 m-3"
            :class="{ active: mode === 'back' }"
            @click="mode = 'back'"
            >Tył</span
          >
        </div>

        <FrontConfigurator v-show="mode === 'front'" />
        <BackConfigurator v-show="mode === 'back'" />
      </div>
    </b-modal>
  </div>
</template>

<script>
import FrontConfigurator from "./Front.vue";
import BackConfigurator from "./Back.vue";
import { toggleShowMixin } from "../mixins/toggle";

export default {
  name: "ConfiguratorModal",
  mixins: [toggleShowMixin],
  components: {
    FrontConfigurator,
    BackConfigurator
  },
  data() {
    return {
      mode: "front"
    };
  }
};
</script>

<style lang="scss">
#configurator-modal {
  .modal-dialog {
    width: calc(100% - 2rem);
    height: 100%;
    max-width: 1500px;
    max-height: calc(100vh - 4rem);
  }

  .modal-body {
    max-height: 60vh;
    overflow-y: auto;
  }
}

.active {
  border-bottom: 2px solid rgb(83, 204, 83);
}
</style>
