<template>
  <div class="row">
    <div class="col-5">
      <Preview
        :number="number"
        :image="{
          path:
            'https://dev-rgol.e24files.com/media/res/products/76629/1200x1562/komplet-nike-fc-barcelona-little-kids-2017-18-wyjazdowy-847354-484_1.png'
        }"
      ></Preview>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-12">
          <strong>
            Kolor
          </strong>
          <ul class="list-unstyled colors-list">
            <li class="colors-list__item" v-for="color in colors" :key="color.id">
              <div
                :class="{
                  active: number.color && color.id === number.color.id
                }"
                :style="{ backgroundColor: color.hex }"
                @click="setColor(color.id)"
              ></div>
            </li>
          </ul>
          <strong>Numer</strong>
          <div>
            <input type="number" :max="99" :min="0" v-model="number.value" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Preview from "./Preview.vue";

export default {
  name: "FrontConfigurator",
  components: {
    Preview
  },
  data() {
    return {
      number: {
        value: 10,
        color: (this.colors && this.colors[0]) || null
      },
      colors: [
        {
          id: 1,
          color: "black",
          hex: "#000000"
        },
        {
          id: 2,
          color: "green",
          hex: "#00ff00"
        },
        {
          id: 3,
          color: "red",
          hex: "#ff0000"
        }
      ]
    };
  },
  methods: {
    setColor(id) {
      const chosenColor = this.colors.find(color => color.id === id);

      this.number.color = chosenColor;
    }
  },
  watch: {
    number: {
      handler(newVal) {
        if (newVal.value > 99) this.number.value = 99;
        if (newVal.value < 0) this.number.value = 0;
      },
      deep: true
    }
  }
};
</script>

<style lang="scss" scoped>
.colors-list {
  display: flex;

  &__item {
    margin: 5px;

    div {
      height: 15px;
      width: 15px;
      cursor: pointer;

      &.active {
        border: 2px solid orangered;
      }
    }
  }
}
</style>
