<template>
  <div class="configurator-preview">
    <div
      :style="{
        backgroundImage: `url(${image.path})`
      }"
      class="img-fluid configurator-preview__img"
    >
      <div
        class="configurator-preview__number"
        :style="{ color: (number.color && number.color.hex) || '#000' }"
      >
        {{ number.value }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    number: {
      type: Object,
      required: true
    },
    image: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.configurator-preview {
  position: relative;
  &__img {
    position: relative;
    width: 350px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__number {
    position: absolute;
    bottom: 35px;
    left: 90px;
    font-size: 24px;
    font-weight: 700;
  }
}
</style>
